p {
  margin-top: 10px;
  margin-bottom: 10px;
}


// .nav-link,
// .post-toc .nav .active > a {
//   color: #222;
//   border-bottom: 1px solid #222;
// }

.main-menu {
  }

.nav-item,
.nav-link
  color: $sidebar-nav-color;
  &:hover 
    color: $link-hover-color;


.nav-link 
  border-bottom: 1px solid var(--text-color);

.post-toc .nav .active-current,
.post-toc .nav .active-current > a 
  color: $link-color;
