$line-height-base=1.6;

$link-color            = #FF8B59;
// $link-color-dark       = #b63333;

$link-hover-color      = #ff4800;
// $link-hover-color-dark = #b63333;

$link-decoration-color = #FF8B59;

$sidebar-nav-hover-color = $sidebar-nav;
$sidebar-highlight       = $link-color;